<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- 商户管理-->
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.MerchDetaService" ref="merchDetaService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.MccListService" ref="mccListService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.CoopInstiService" ref="coopInstiService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.EnterpriseDetaService" ref="enterpriseDetaService" retries="0" version="1.0" timeout="60000"/>
	
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.PojoProductService" ref="pojoProductService" retries="0" version="1.0" timeout="60000"/>
	
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.ProdCaseService" ref="prodCaseService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.MerchRateConfigService" ref="merchRateConfigService" retries="0" version="1.0" timeout="60000"/>
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.RateAllService" ref="rateAllService" retries="0" version="1.0" timeout="60000"/>
	
	<!-- 银行账户 -->
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.MerchBankAccoutService" ref="merchBankAccoutService" retries="0" version="1.0" timeout="60000"/>
	<!-- 合同管理 -->
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.ContractService" ref="contractService" retries="0" version="1.0" timeout="60000"/>
	<!-- 委托机构 -->
	<dubbo:service interface="com.zcbspay.platform.manager.merchant.service.AgencyService" ref="agencyService" retries="0" version="1.0" timeout="60000"/>
</beans>