*.class
*/.*
*/.settings/*
*/target/*
*/.settings/
*/.project

/.settings/
/.project

/business/.settings/
/business/target/
/business/.classpath
/business/.project

/business-api/.settings/
/business-api/target/
/business-api/.classpath
/business-api/.project

/business-simple/.settings/
/business-simple/target/
/business-simple/.classpath
/business-simple/.project

/business-service/.settings/
/business-service/target/
/business-service/.classpath
/business-service/.project

/common/.settings/
/common/target/
/common/.classpath
/common/.project

/manage/.settings/
/manage/target/
/manage/.classpath
/manage/.project

/merchant/.settings/
/merchant/target/
/merchant/.classpath
/merchant/.project

/merchant-api/.settings/
/merchant-api/target/
/merchant-api/.classpath
/merchant-api/.project

/merchant-simple/.settings/
/merchant-simple/target/
/merchant-simple/.classpath
/merchant-simple/.project

/merchant-service/.settings/
/merchant-service/target/
/merchant-service/.classpath
/merchant-service/.project

/reconcilication/.settings/
/reconcilication/target/
/reconcilication/.classpath
/reconcilication/.project

/reconcilication-api/.settings/
/reconcilication-api/target/
/reconcilication-api/.classpath
/reconcilication-api/.project

/reconcilication-service/.settings/
/reconcilication-service/target/
/reconcilication-service/.classpath
/reconcilication-service/.project

/reconcilication-simple/.settings/
/reconcilication-simple/target/
/reconcilication-simple/.classpath
/reconcilication-simple/.project

/risk/.settings/
/risk/target/
/risk/.classpath
/risk/.project

/risk-api/.settings/
/risk-api/target/
/risk-api/.classpath
/risk-api/.project

/risk-simple/.settings/
/risk-simple/target/
/risk-simple/.classpath
/risk-simple/.project

/risk-service/.settings/
/risk-service/target/
/risk-service/.classpath
/risk-service/.project

/system/.settings/
/system/target/
/system/.classpath
/system/.project

/system-api/.settings/
/system-api/target/
/system-api/.classpath
/system-api/.project

/system-service/.settings/
/system-service/target/
/system-service/.classpath
/system-service/.project

/system-simple/.settings/
/system-simple/target/
/system-simple/.classpath
/system-simple/.project

/trade-query/.settings/
/trade-query/target/
/trade-query/.classpath
/trade-query/.project

/trade-query-api/.settings/
/trade-query-api/target/
/trade-query-api/.classpath
/trade-query-api/.project

/trade-query-simple/.settings/
/trade-query-simple/target/
/trade-query-simple/.classpath
/trade-query-simple/.project

/trade-query-service/.settings/
/trade-query-service/target/
/trade-query-service/.classpath
/trade-query-service/.project